.searchForm{
    padding: 1em 0;
    display: flex;
    background-color: #00FF80;
    max-width: 100%;
}
.search{
    color: white;
    background-color: rgb(48, 47, 49);
    border: none;
}
.searchBtn{
    margin-left: 1em;
    color: white;
    background-color: rgb(48, 47, 49);
    border: none;
}