body {
  margin: 0;
  padding: 0;
  display: flex;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.movieLink{
  text-decoration: none;
  color: black;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  display: grid;
  width: 100%;
  justify-items: center;
}
.movieInfo{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.plotDiv{
  width: 80%;
}
.title{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  color:white;
  padding: 0.5em
}
.results{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
h2{
  margin-top: 2.4em;
}
.ratings{
  display: flex;
  justify-content: space-between;
}